
html { box-sizing: border-box; }
*, *:after, *:before {box-sizing: inherit;}
body {
    max-width: 1200px; 
    margin: 0 auto; 
}
form { 
    
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-end;}
form label { flex-basis: 30%; }
form input { flex-basis: 70%; }
form > * { margin-bottom: 1rem; }

nav { display: flex; gap: 1rem; padding: 1rem 0;}

table {
    border-collapse: collapse;
    width: 100%;
}

.flex {
    display: flex;
    gap: 1rem;
}
.list { flex-basis: 400px;}

.message {
    border: 1px solid pink;
    padding: 1rem;
    margin-bottom: 1rem;
}